#numbers {
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 50%;
  margin: 10px auto 50px auto;
}

#numbers td, #numbers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#numbers tr:nth-child(even){background-color: #f2f2f2;}

#numbers tr:hover {background-color: #ddd;}

#numbers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #003366;
  color: white;
}

#order-by {
  cursor: pointer;
}

#order-by:hover{background-color: #003390;}

#action {
  color: black;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}