.modal {
    position: relative;
}

.modal-overlay {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
    height: 100%;
}

.modal-content {
    position: relative;
    top: 35%;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    z-index: 2;
    padding: 10px 0 10px 0;
    border: gray 4px solid;
    border-radius: 10px;
}

.modal-button {
    margin: 20px 10px 5px 10px;
}