#btn {
    padding: 5px;
    margin: 10px;
    min-width: 100px;
}

#form-input {
    margin: 10px;
}

#form-label {
    font-size: 20px;
}

#form-input {
    font-size: 17px;
}

#form-checkbox-label {
    font-size: 20px;
}

#form-checkbox-input {
    width: 15px;
    height: 15px;
}