.document-type {
    display: flex;
    justify-content: center;
}

.document-type-item {
    margin: 5px;
}

.document-type-item.selected {
    color: green;
}

.document-type-item.error {
    color: red;
}